.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: 2px 1px 15px #00000031;
    cursor: pointer;
}

.image{
    width: 100%;
    background-image: linear-gradient(65deg, #dddddd 40%, #d1d1d1 50%, #dddddd 60%);
    background-position: left;
    background-size: 280%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    animation: loading 1s infinite ease;
}

.info{
    padding: 5px 10px;
    width: 100%;
}

.value {
    display: block;
    width: 70%;
    height: 30px;
    background-image: linear-gradient(65deg, #dddddd 40%, #d1d1d1 50%, #dddddd 60%);
    background-position: left;
    background-size: 280%;
    border-radius: 10px;
    margin-top: 5px;
    animation: loading 1s infinite ease;
}

.title{
    display: block;
    width: 95%;
    height: 28px;
    background-image: linear-gradient(65deg, #dddddd 40%, #d1d1d1 50%, #dddddd 60%);
    background-position: left;
    background-size: 280%;
    border-radius: 10px;
    margin-top: 5px;
    animation: loading 1s infinite ease;
}

.items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: 7px;
    gap: 1px;
}
.item{
    background-image: linear-gradient(65deg, #dddddd 40%, #d1d1d1 50%, #dddddd 60%);
    background-position: left;
    background-size: 280%;
    width: 40%;
    height: 18px;
    display: block;
    border-radius: 5px;
    margin-right: 15px;
    animation: loading 1s infinite ease;
}

.loading_btn{
    background-image: linear-gradient(65deg, #343b46 40%, #474f5c 50%, #343b46 60%);
    background-position: left;
    background-size: 280%;
    display: block;
    height: 38px;
    margin-top: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    animation: loading 1s infinite ease;
}

@keyframes loading {
    0%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}