.card{
    background-color: #192436;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 50px;
    & img{
        width: 220px;
        margin-bottom: 50px;
    }
    & h1{
        font-family: "Castoro", serif;
        font-weight: 400;
        text-align: center;
        color: #f5f5f5;
    }
}
.aboult{
    padding: 50px 30px;
    text-align: center;
    margin: 0 auto;
    & h2{
        margin-bottom: 20px;
        font-family: "Castoro", serif;
        font-weight: 400;
        font-size: 2em;
    }
}
.service{
    text-align: center;
    padding: 20px 30px;
    & h2{
        margin-bottom: 20px;
        font-family: "Castoro", serif;
        font-weight: 400;
        font-size: 2em;
    }
    & ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        flex-wrap: wrap;
        gap: 20px;
        & li{
            border-bottom: 1px solid;
            padding: 60px 10px;
            margin: 0;
            color: #fefefe;
            background-color: #000;
            & h3{
                font-family: "Castoro", serif;
                font-weight: 400;
                font-size: 1.6em;
                text-decoration: underline; 
            }
            & .icons{
                font-size: 30px;
                background-color: #C5AD69;
                color: #000;
                border-radius: 50px;
                padding: 10px;
                width: 60px;
                height: 60px;
                margin: 0 auto;
                margin-bottom: 15px;
                position: relative;
            }
            & .icons::before{
                content: '';
                width: 40px;
                height: 2px;
                background-color: #C5AD69;
                position: absolute;
                display: block;
                left: -60px;
                top: 50%;
            }
            & .icons::after{
                content: '';
                width: 40px;
                height: 2px;
                background-color: #C5AD69;
                position: absolute;
                display: block;
                right: -60px;
                top: 50%;
            }
        }
    }
}
.contacts{
    background-color: #848484;
    padding: 50px 30px;
    text-align: center;
    & h2{
        margin-bottom: 20px;
        font-family: "Castoro", serif;
        font-weight: 400;
        font-size: 1.6em;
    }
    & .numb{
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        margin-bottom: 20px;
        background-color: #25d366;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 4px 10px #00000025;
        margin-top: 20px;
        & svg{
            font-size: 20px;
        }
    }
    & button{
        width: 100%;
        margin-top: 20px;
    }
}
@media screen and (min-width: 788px) {
    .aboult{
        max-width: 1240px;
        margin: 0 auto;
        padding: 70px 30px;
        & h2{
            border-bottom: 1px solid;
            color: #192436;
        }
        & p{
            padding: 10px 50px;
        }
    }
    .service{
        max-width: 1240px;
        margin: auto;
        & h2{
            border-bottom: 1px solid;
            color: #192436;
        }
        & ul{
            flex-direction: row;
            justify-content: space-around;
            gap: 5%;
            width: 100%;
            
            & li{
                width: 40%;
                border: none;
                margin-top: 30px;
                padding: 20px 30px;
            }
        }
    }
    .contacts{
        max-width: 100%;
        & div{
            max-width: 1240px;
            margin: 40px auto;
            padding: 10px 40px;
            & h2{
                border-bottom: 1px solid;
                color: #192436;
            }
            & p {
                text-align: center;
            }
            & button{
                width: 50%;
                display: block;
                margin: 20px auto;
            }
            .numb{
                width: 50%;
                margin: 10px auto;
            }
        }
    }
}