.destaqueCard{
    margin-top: 40px;
    padding: 50px 30px;
    
    position: relative;
    background: linear-gradient(90deg, #192436, #19243600),
                url('/public/jsresidencial/portaria.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    }

.widget{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #C5AD69;
    padding: 8px 20px;
    font-weight: 600;
    font-size: .8em;
}

.content{
    color: #fefefe;
    margin-top: 50px;
    & h2{
        font-family: "Castoro", serif;
        font-weight: 400;
        font-size: 2em;
    }
    & p{
        margin-bottom: 80px;
        color: #d1d1d1;
    }
}

.btn{
    background-color: #C5AD69;
    color: #192436;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1em;
}

@media screen and (min-width: 790px){
    .destaqueCard{
        padding: 40px;
        width: 90%;
        border-radius: 10px;
        margin: 40px auto;
    }
    .widget{
        position: absolute;
        right: 20px;
        left: unset;
    }
    .btn{
        width: 60%;
    }
}

@media screen and (min-width: 790px){
    .destaqueCard{
        display: block;
        width: 780px;
    }
}

@media screen and (min-width: 1240px) {
    .destaqueCard{
        width: 1220px;
    }
}