.destaqueCard{
    margin-top: 40px;
    padding: 50px 30px;
    
    position: relative;
    background: linear-gradient(90deg, #192436, #19243600),
                url('/public/jsresidencial/portaria.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    box-shadow: 0 0 20px #00000045;
    transition: all .3s ease;
}
.destaqueCard:hover{
    transform: scale(1.005);
}
.widget{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #C5AD69;
    padding: 8px 20px;
    font-weight: 600;
    font-size: .8em;
}

.content{
    color: #fefefe;
    margin-top: 50px;
    & img{
        width: 250px;
        margin-bottom: 16px;
    }
    & p{
        margin-bottom: 80px;
        color: #d1d1d1;
    }
}

.btn{
    background-color: #C5AD69;
    color: #192436;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: all .3s ease;
}

.btn:hover{
    background-color: #b19a59;
}

@media screen and (min-width: 790px){
    .destaqueCard{
        padding: 40px;
        width: 90%;
        border-radius: 10px;
        margin: 40px auto;
    }
    .widget{
        position: absolute;
        right: 20px;
        left: unset;
    }
    .btn{
        width: 60%;
    }
}

@media screen and (min-width: 790px){
    .content img{
        width: 350px;
        margin-bottom: 16px;
    }
    .destaqueCard{
        display: block;
        width: 780px;
    }
}

@media screen and (min-width: 1240px) {
    .content{
        padding: 40px;
    }
    .destaqueCard{
        width: 1220px;
    }
}