.form_container{
    background-image: url('../assets/ModernHomeBg.png');
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #192436c8;
    height: 100%;
    width: 100%;
    padding: 40px 0;
}
.logo img{
    width: 200px;
    height: 100px;
}
.form_area{
    width: 90%;
    max-width: 500px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    & button{
        width: 100%;
        margin-top: 20px;
    }
    & h2{
        font-family: 'Castoro', serif;
        font-weight: 400;
        font-size: 1.7em;
        text-transform: uppercase;
        color: #fefefe;
    }
}
.form{
    background: #efefef;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px auto 0;
    width: 100%;
}
.title{
    width: 100%;
    text-align: center;
    color: #192436;
}
.subtitle{
    display: none;
}
.radio_container{
    margin: 20px 0;
    background-color: #d1d1d1;
    padding: 10px 2px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
}
.label{
    position: relative;
}
.label input[type='radio']{
    position: absolute;
    width: 1px;
    height: 1px;
}
.label input[type='radio'] + span{
    padding: 8px 45px;
    border-radius: 5px;
    transition: all .5s ease;
}
.label input[type="radio"]:checked + span{
    background-color: #192436;
    color: #C5AD69;
    font-weight: 500;
    padding: 8px 45px;
    border-radius: 5px;
    transform: translateY(100px);
}

.select_area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 10px;
    & .select{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}
.select_area .select span{
    color: #192436;
}
.select select{
    border: 0px;
    background: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 5px;
    width: 100%;
    box-shadow: 1px 2px 10px #00000025;
    color: #000000;
}
.select select:disabled{
    color: #a7a7a7;
}

.announce{
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px 20px;
    width: 90%;
    max-width: 500px;
    & h3{
        color: #192436;
        text-align: center;
    }
    & a{
        width: 100%;
        background-color: #C5AD69;
        font-size: 1em;
        text-decoration: none;
        color: #192436;
        text-align: center;
        display: block;
        margin: 0;
    }
}

.loadingSelect{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff;
    border: none;
    border: 1px solid #ffffff;
    color: #8f8f8f;
    border-radius: 5px;
    padding: 3px 3px 3px 9px;
}


@media screen and (min-width: 890px) {
    .form_container{
        max-width: 1240px;
        margin: 0 auto;
        height: 600px;
        min-height: 500px;
        background-size: cover;
    }
    .container{
        align-items: self-end;
        position: relative;
        max-height: 700px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 40px 40px;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 52%;
        gap: 60px;
        & .subtitle{
            color: #f5f5f5;
            display: block;
            width: 70%;
            font-size: 1.6em;
            text-align: center;
        }
    }
    .form_area{
        max-width: 350px;
        margin-right: 20px;
        margin-bottom: 0;
        width: 45%;
    }
    .announce{
        flex-grow: 1;
        width: 95%;
        max-width: 96%;
        margin: 5px auto;
        justify-self: center;
    }
}